<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/styleindex.css' />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Github Job Finder</h1>
    <p>Your friendly job finder</p>
    <button type="button" id="boton">Let´s Go!</button>
    <script src="actions/index.js"></script>
  </body>
</html>
